<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403336842208-8v5tkrbhtrp6na5ofa7h1fkn2s71ut3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403336842208-8v5tkrbhtrp6na5ofa7h1fkn2s71ut3c</string>
	<key>API_KEY</key>
	<string>AIzaSyATj0Ef_p7McF6XUR4eayNoRHjiujvd9ek</string>
	<key>GCM_SENDER_ID</key>
	<string>403336842208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>friendly.map</string>
	<key>PROJECT_ID</key>
	<string>user-891ed</string>
	<key>STORAGE_BUCKET</key>
	<string>user-891ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403336842208:ios:e8f30d287d50d696dcf985</string>
</dict>
</plist>